<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>CNE - Votación Senado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div th:replace="~{fragments/layout :: mainHeader}"></div>
    
    <div class="w-96 mx-auto p-6 border border-gray-300 rounded-lg shadow-md text-center mt-8 mb-8">
        <h3 class="text-lg font-semibold mb-6">Inicio de Sesión</h3>

        <form th:action="@{/login}" method="post" class="space-y-4">
            <div th:if="${param.error}" class="text-red-600 mb-4">
                Usuario o contraseña incorrectos
            </div>
            <div th:if="${param.logout}" class="text-green-600 mb-4">
                Sesión cerrada correctamente
            </div>
            <!-- Username -->
            <div>
                <input type="text" name="username" placeholder="Usuario"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-600 focus:outline-none"
                    required>
            </div>

            <!-- Contraseña -->
            <div>
                <input type="password" name="password" placeholder="Contraseña"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-yellow-600 focus:outline-none"
                    required>
            </div>

            <!-- Botón -->
            <button type="submit"
                class="w-full py-2 bg-blue-600 text-white font-bold rounded-md hover:bg-blue-700 transition">
                Iniciar Sesión
            </button>
        </form>
        <!-- Footer -->
        <p class="mt-6 text-xs text-gray-600">
            © 2026 Congreso de la República de Colombia
        </p>
    </div>

</body>

</html>